.movieDetails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movieDetails img {
    border-radius: 10px;
}

.col {
    max-width: 400px;
    width: 80%;
    margin: 15px;
    height: auto;
    height: 80%;
}

strong{
    color: blueviolet;
}
.col p {
    font-size: 1.3rem;
    padding-top: 10px;
}